<div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="24px" class="main">
  <mat-card fxFlex="45%">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button>Like</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex="45%">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
      </div>
      <mat-card-title>Home</mat-card-title>
      <mat-card-subtitle>Sweet Home</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item> Pepper</mat-list-item>
        <mat-list-item> Salt</mat-list-item>
        <mat-list-item> Paprika</mat-list-item>
      </mat-list>
    </mat-card-content>

    <mat-action-list>
      <button mat-list-item> Save</button>
      <button mat-list-item> Undo</button>
    </mat-action-list>

  </mat-card>

  <mat-card fxFlex="45%">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
      </div>
      <mat-card-title>Slider</mat-card-title>
      <mat-card-subtitle>Form component</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
      <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>
      <mat-slider min="1" max="5" step="0.5" value="1.5"></mat-slider>

    </mat-card-content>

    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
    </mat-card-footer>

  </mat-card>

  <mat-card fxFlex="45%">
    <app-parent fxLayout="row wrap" fxLayoutGap="16px" fxGa>
      <app-child *ngFor="let i of items" [id]="i">
      </app-child>
    </app-parent>
  </mat-card>


</div>
